/*#canvasDiv {
		padding: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
}

body {background-color: rgb(81, 137, 226);}*/

.balloon.blue{
  position:absolute;
  width:534px;
  height:720px;
	transform: scale(0.3);
	/*background-image: url("https://cdn.pixabay.com/photo/2014/03/24/17/19/birthday-party-295384_960_720.png");*/
	background-image: url(assets/Balloon_blue.png);
	opacity: 0.9;
	z-index: 1;
}
.balloon.green{
	position:absolute;
	width:534px;
	height:720px;
	transform: scale(0.3);
	background-image: url(assets/Balloon_green.png);
	opacity: 0.9;
	z-index: 1;
}
.balloon.lightblue{
	position:absolute;
	width:534px;
	height:720px;
	transform: scale(0.3);
	background-image: url(assets/Balloon_lightblue.png);
	opacity: 0.9;
	z-index: 1;
}
.balloon.pink{
	position:absolute;
	width:534px;
	height:720px;
	transform: scale(0.3);
	background-image: url(assets/Balloon_pink.png);
	opacity: 0.9;
	z-index: 1;
}
.balloon.red{
	position:absolute;
	width:534px;
	height:720px;
	transform: scale(0.3);
	background-image: url(assets/Balloon_red.png);
	opacity: 0.9;
	z-index: 1;
}

.balloon.yellow{
	position:absolute;
	width:534px;
	height:720px;
	transform: scale(0.3);
	background-image: url(assets/Balloon_yellow.png);
	opacity: 0.9;
	z-index: 1;
}
/*.balloon.blue.animate{
	transform: scale(0.5);
}
.balloon.green.animate{
	transform: scale(0.5);
}
.balloon.lightblue.animate{
	transform: scale(0.5);
}
.balloon.pink.animate{
	transform: scale(0.5);
}
.balloon.red.animate{
	transform: scale(0.5);
}
.balloon.yellow.animate{
	transform: scale(0.5);
}*/
.balloon.blue.bobX{
	transform: scale(0.35, 0.3);
}
.balloon.blue.bobY{
	transform: scale(0.3, 0.35);
}
.balloon.green.bobX{
	transform: scale(0.35, 0.3);
}
.balloon.green.bobY{
	transform: scale(0.3, 0.35);
}
.balloon.lightblue.bobX{
	transform: scale(0.35, 0.3);
}
.balloon.lightblue.bobY{
	transform: scale(0.3, 0.35);
}
.balloon.pink.bobX{
	transform: scale(0.35, 0.3);
}
.balloon.pink.bobY{
	transform: scale(0.3, 0.35);
}
.balloon.red.bobX{
	transform: scale(0.35, 0.3);
}
.balloon.red.bobY{
	transform: scale(0.3, 0.35);
}
.balloon.yellow.bobX{
	transform: scale(0.35, 0.3);
}
.balloon.yellow.bobY{
	transform: scale(0.3, 0.35);
}
