#canvasDiv {
	padding: 0;
    margin: auto;
    display: block;
    width: 1200px;
    height: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {background-color: rgb(81, 137, 226);}